.btn-base {
  box-sizing: border-box;
  height: 48px;
  width: 400px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 16px;
  padding: 13px 82px;
  cursor: pointer;
}

.btn {
  color: black;
  background-color: #ffffff;
  border: 1.2px solid #d3d8dc;
}

.btn-submit {
  color: #ffffff;
  background-color: #316fea;
  border: none;
}
