.password-input-wrapper {
  display: flex;
  position: relative;
}
.password-field-container {
  width: 400px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.password-field-container label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  height: 20px;
  font-weight: 600;
}

.password-input {
  box-sizing: border-box;
  background-color: white;
  border: 1.2px solid #d3d8dc;
  color: black;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  font-size: 15px;
  padding: 14px 15px;
}

.show-hide-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 15px;
}
